
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Georama';
    font-size: 62.5%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: 100vh;
    padding: 150px;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid gray;

}

.calculator-display{
    font-size: 20px;
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid gray;
    overflow-x: auto;
}

.calculator-keypad{
    display: flex;
    width: 100%;
}

.keypad-numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keypad-button{
    font-size: 20px;
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid grey;
}